<div class="main top-main">
  <div class="top-message">
    <h2>ちょっとした妥協アプリ</h2>
    <p>さっそく妥協を書いてみよう</p>
  </div>
</div>
<div class="about-main">
  <div class="about-title">
    <p>妥協アプリとは</p>
  </div>

  <div class="about-message">  
    <div class="about-message1">
      <p>皆誰しも1度は、妥協したことがあります</p>
      <p>「自炊する予定が外食しちゃったな」</p>
      <p>「歩ける距離なのにタクシー使っちゃった」</p>
      <p>「やることしないで一日中寝てた」.etc</p>
    </div>
    <div class="about-message2">
      <p>ここはその妥協を記述していくアプリとなっています。</p>
      <p>自分のした妥協に反省するもよし</p>
      <p>他人の妥協を眺め、自分はまだ大丈夫と思うもよし</p>
    </div>
    <div class="about-message3">
      <p>一歩引いて眺めてみると妥協はとても愛らしいです</p>
      <img class="about-img" src="">
    </div>
  </div>
</div>

<div class="start-main">
  <div class="start-message">
    <a class="btn message" href="/posts/new">妥協する</a>
  </div>
</div>

<footer>
  <div class="footer-main">
    <p>ちょっとした妥協アプリ</p>
  </div>
</footer>