
/* posts/index ================================ */
/* 2021 0910 css　copy by Progate. natural. next hennkou */
.posts-top {
  padding: 30px 200px;
}

.posts-top h3 {
  color: rgb(52, 255, 113);
  padding-bottom: 10px;
}

.posts-index-item {
    padding: 20px 30px;
    background-color: rgb(241, 179, 238);
    overflow: hidden;
    box-shadow: 0 1px 6px #000000;
  }
  .posts-index-item h5 {
    color:rgb(52, 255, 113);
  }

  .post-index-sub {
    padding-top: 10px;
    color:rgb(25, 0, 255);
  }
  
  .post-index-main {
    color: rgb(78, 78, 78);
    font-size: 15px;
  }

  .post-index-content {
    color: rgb(0, 0, 0);
    font-size: 20px; 
  }

  .post-left img {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    box-shadow: 0 2px 6px #c1ced7;
    object-fit: cover;
  }
    
  .post-left {
    float: left;
    width: 10%;
  }
  
  .post-right {
    float: left;
    width: 90%;
    padding-left: 25px;
    text-align: left;
  }
  
  /* posts/new ================================ */
  .posts-new {
    text-align: center;
  }

  .posts-new textarea {
    font-size: 20px;
    padding: 10px;
    min-height: 140px;
    border: 1px solid rgb(216, 218, 223);
    resize: none;
  }
  
  .posts-new textarea::-webkit-input-placeholder {
    font-size: 24px;
    opacity: 0.5;
  }

  .form {
    padding-bottom: 80px;
  }
  .form-heading {
    color: rgb(52, 255, 113);
  }

  .form-body {
    padding: 15px 0 15px 0;
    color: white;
  }

  .form-body p {
    font-weight: 200;
    font-size: 18px;
  }

  .form-body input {
    width:280px;
    background-color: rgba(255, 255, 255, 0.726);
    outline-width: 0;
  }

  .form-body textarea {
    background-color: rgba(255, 255, 255, 0.726);
  }

  .form-submit {
    background-color: #fffd9f;
    padding:4px 24px 8px 24px;
    color: rgb(78, 78, 78);
    display:inline-block;
    cursor: pointer;
  }

  .form-submit:hover {
    opacity: 1;
    background-color: #fffb00;
    color: rgb(25, 0, 255);
  }

  .form-index {
    border-top: 1px solid rgb(52, 255, 113);
    padding-top: 40px;
    
  }

  .form-index a {
    color: rgb(52, 255, 113);
  }
  /* posts/new ================================ */


